.DS_Store
.idea/
envs/.DS_Store
tscompose.iml
dc-demo-app1.yml

.local-*.ini
.local.ini
.local*.env
version.ini

.envs/

*.diff
*.change.log
.local.gitid.ini.old
.build-cache.ini

scompose.jar

shell/RecreateBranch.sh
